
.navbar-logo {
    height: 64px;
    position: absolute;
    left: 0;
}

.navbar-buttons {
    position: absolute;
    left: 6em;
    margin-right: 30px;
}

.navbar-selected-button {
    border-bottom: 1px solid white !important;
}

.navbar-button {
    border-right: none !important;
    border-radius: 0px !important;
}

.navbar {
    background-color: #192841 !important;
}

.navbar-logout-button {
    position: absolute;
    margin-right: 30px;
    right:0
}
.logout-icon {
    margin-left: 10px;
}